@inherits LayoutComponentBase

<div class="page font-nunito">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="bg-offWhite p-10">
        <article>
            @Body
        </article>
    </main>
</div>