<div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[250px] overflow-y-auto text-center bg-navBlue">
    <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1">
            <h1 class="font-bold text-center text-gray-200 text-[15px]">TaHoooK!</h1>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
    </div>

    <NavButton href="" Title="Home" />
    <NavButton href="/games" Title="Join Quiz" />
    <NavButton href="/templates" Title="Start Quiz" />
    <NavButton href="quiz/ABA1F111-E4CA-47BB-803C-4D6F12EBF526" Title="TEMP: Quiz" />
    <NavButton href="/QuestionDetail" Title="TEMP Question" />
</div>