<div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[250px] overflow-y-auto text-center bg-navBlue">
    <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1">
            <h1 class="font-bold text-center text-gray-200 text-[15px]">TaHoooK!</h1>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
    </div>
    <div class="p-2.5 mt-3 rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <NavLink href="" Match="NavLinkMatch.All">
            <span class="text-[15px] text-gray-200 font-bold">Home</span>
        </NavLink>
    </div>
    <div class="p-2.5 mt-3 rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white">
        <NavLink href="quiz">
            <span class="text-[15px] text-center text-gray-200 font-bold">TEMP: Quiz</span>
        </NavLink>
    </div>
</div>