bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/TaHooK.Api.App/TaHooK.Api.App.csproj.user
/.vs
TaHooK.sln.DotSettings.user
TaHooK.Api.App/appsettings.Development.json
TaHooK.IdentityProvider.App/appsettings.Development.json

/TaHook.Web.App/TaHook.Web.App.csproj.user
/TaHook.Web.App/wwwroot/appsettings.Development.json
/TaHooK.IdentityProvider.App/keys/is-signing-key-C624C36A89CA8B0A74A69BBD7DAC9949.json
