@page "/quiz/{id:int}"
@inherits PageBase

<h2>Quiz</h2>
<h1>@data.Title</h1>
<h3>Date: @data.Schedule</h3>


<button @onclick="@OnLobbyCreateButton" class="bg-transparent hover:bg-navBlue text-navBlue hover:text-white font-semibold 
                p-4 border border-navBlue rounded">
    Create Lobby
</button>

